<!DOCTYPE html>
<html lang="es-ar">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Carrito de Compras</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-select/css/bootstrap-select.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/lib/alertifyjs/css/alertify.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <partial name="~/Views/Shared/_Navbar.cshtml" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2021 - Carrito de Compras
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="~/lib/bootstrap-select/js/i18n/defaults-es_ES.js"></script>
    <script src="~/lib/alertifyjs/alertify.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @if (TempData["PrecioActualizado"] as bool? ?? false)
    {
        <script>
            alertify.set('notifier', 'position', 'top-center', 'text-white');
            alertify.success("Algunos precios se han actualizado.");
        </script>
    }


    @if (TempData["EditIn"] as bool? ?? false)
    {
        <script>
            alertify.set('notifier', 'position', 'top-center', 'text-white');
            alertify.success("Actualización exitosa!!!");
        </script>
    }

    @if (TempData["Vacio"] as bool? ?? false)
    {
        <script>
            alertify.set('notifier', 'position', 'top-center', 'text-white');
            alertify.error("Carrito sin productos agregados");
        </script>
    }

    @if (TempData["SinStock"] as bool? ?? false)
    {
        <script>
            alertify.set('notifier', 'position', 'top-center');
            alertify.set('notifier', 'delay', 10);
            alertify.error("Lo sentimos, en nuestras Sucursales no contamos con el stock suficiente para completar el Pedido!");
        </script>
    }

    @RenderSection("Scripts", required: false)

</body>
</html>