<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Carrito de Compras</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="dropdown">
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1">
                                @if (User.IsInRole(nameof(Rol.Cliente)))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Categorias" asp-action="Index">Productos</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Clientes" asp-action="Details" asp-route-id="User.identity.NameIdentifier">Mis Datos</a>
                                    </li>
                                }
                            </ul>
                            <form id="logoutForm" method="post" asp-controller="Accesos" asp-action="Salir">
                                <button type="submit" class="dropdown-item">Salir</button>
                            </form>
                        </div>
                    </li>

                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Productos" asp-action="Index">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Accesos" asp-action="Ingresar">Ingresar</a>
                    </li>

                }
            </ul>
        </div>
    </nav>
</header>