@model tp_nt1.Models.Producto

@{
    ViewData["Title"] = "Agregar";
}

<h3 class="text-center"><b>Agregar</b></h3>
<br />  

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">

                <h5>Estas agregando el siguiente Item:</h5>
                <br />

                <dl class="row">
                    <dt class="col-sm-3">
                       Nombre
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                </dl>

                <dl class="row">
                    <dt class="col-sm-3">
                        Precio (x Kg)
                    </dt>
                    <dd class="col-sm-9">
                        $ @Html.DisplayFor(model => model.PrecioVigente)
                    </dd>
                </dl>

                <form asp-action="Agregar" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group">
                        <label class="control-label"> Cantidad (x Kg)</label>
                        <br />
                        <input class="form-group" type="number" range="1,100000"
                               min="1" max="100000" pattern="^[0-9]+" name="Cantidad" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Agregar" class="btn btn-outline-primary" />
                        <a class="btn btn-outline-info" asp-controller="Productos" asp-action="Index">Volver</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}