@model List<CarritoItem>

@{
    ViewData["Title"] = "VaciarCarrito";
}

<h4 class="text-center text-danger">Estas por Vaciar el Carrito</h4>
<br />

<div class="row">
    <div class="col-md-7 offset-md-2">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">Resumen </h5>
                <hr />

                <h6 class="card-title"> Cuenta: <b>@User.Identity.Name</b> </h6>
                <h6 class="card-title"> Nombre: <b>@User.FindFirstValue(ClaimTypes.GivenName) </b> </h6>
                <hr />

                <div>
                    Items : <b> @Model.Count </b>
                </div>
                <div>
                    Cantidad de Productos : <b>@Model.Sum(m => m.Cantidad)</b>
                </div>
                <div>
                    SubTotal de todas tus compras : <b>$@Model.Sum(s => s.Subtotal)</b>
                </div>
                <br />
                <form asp-action="VaciarCarrito">
                    <input type="submit" value="Vaciar Carrito" class="btn btn-outline-danger" />
                    <a class="btn btn-outline-warning" asp-controller="CarritoItems" asp-action="MisItems">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>