@model tp_nt1.Models.Producto

@{
    ViewData["Title"] = "Registrar";
}

<h1>Registrar</h1>

<h4>Producto</h4>
<hr />


<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Datos del Producto</h5>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <input asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PrecioVigente" class="control-label"></label>
                        <input asp-for="PrecioVigente" class="form-control" />
                        <span asp-validation-for="PrecioVigente" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="Categoria" class="control-label"></label>
                        <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.Categoria"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Registrar" class="btn btn-outline-primary" />
                        <button type="reset" class="btn btn-outline-dark">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <br />
    <a class="btn btn-outline-info" asp-action="Index">Lista Productos</a>
    <a class="btn btn-outline-info" asp-controller="Home" asp-action="Index">Inicio</a>
</div>
@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

















